
Networks/[NwExtra]ClassroomLessonVersions/02_Intro_instructor.nlogo

Networks/[NwExtra]ClassroomLessonVersions/extraInputFile50nodes.txt

Networks/[NwExtra]ClassroomLessonVersions/networks1_activity.docx

Networks/[NwExtra]ClassroomLessonVersions/networks1_activity.pdf

Networks/[NwExtra]ClassroomLessonVersions/networks2_activity.docx

Networks/[NwExtra]ClassroomLessonVersions/networks2_activity.pdf

Networks/[Nw1-4]InstructorFiles/[Nw1]IntrotoNetworksInstructor.nlogo

Networks/[Nw1-4]InstructorFiles/[Nw2]TheKevinBaconGameinstructor.nlogo

Networks/[Nw1-4]InstructorFiles/[Nw3-4]InformationSpreadinginstructor.nlogo
